apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server-deployment
  labels:
    app: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server-container
          image: creamdocker/omni-eureka:1.0.0
          ports:
            - containerPort: 8761
          env:
            # [수정 1] Ingress(/eureka)와 맞추기 위해 Context Path 설정 필수!
            - name: SERVER_SERVLET_CONTEXT_PATH
              value: "/eureka"
            
            # [수정 2] 아래 Service 이름(eureka-service)과 일치시킴
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-server:8761/eureka/

---
apiVersion: v1
kind: Service
metadata:
  # [수정 3] 다른 서비스들이 'eureka-service'라고 찾고 있으므로 이름 통일
  name: eureka-server
spec:
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
  # [참고] Ingress를 쓰므로 NodePort 대신 ClusterIP가 더 깔끔하지만, 
  # NodePort를 써도 동작은 합니다. (여기선 기본값인 ClusterIP 권장)
  type: ClusterIP