apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: omniorder-ingress
  annotations:
    # NGINX가 이 설정을 읽도록 지정
    kubernetes.io/ingress.class: nginx
    # (선택) URL 재작성 옵션이 필요할 경우 사용 (Spring Context Path에 따라 다름)
    # nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
          # 1. 주문 서비스 연결
          - path: /orders
            pathType: Prefix
            backend:
              service:
                name: order-service  # Helm values.yaml에 적은 그 이름!
                port:
                  number: 8081

          # 2. 상품 서비스 연결
          - path: /products
            pathType: Prefix
            backend:
              service:
                name: product-service
                port:
                  number: 8082

          # 3. 유레카 연결 (대시보드 보기용)
          - path: /eureka
            pathType: Prefix
            backend:
              service:
                name: eureka-server # eureka-deployment.yaml에 정의된 서비스 이름 확인 필요!
                port:
                  number: 8761