apiVersion: skaffold/v4beta10
kind: Config
metadata:
  name: omni-order-project

# 1. 빌드 설정: Dockerfile 위치와 이미지 태그 설정
build:
  # Docker Hub 태그에 맞춰 사용자 이름과 이미지 이름을 지정해야 합니다.
  tagPolicy:
    custom:
      tag: "1.0.0" # 태그를 고정합니다. Skaffold가 자동으로 태그를 붙일 수도 있습니다.
  artifacts:
    - image: creamdocker/order-service # Docker Hub에 푸시할 이미지 이름
      context: ./order-service-path # Order Service의 Dockerfile이 있는 경로
    - image: creamdocker/product-service # Product Service의 이미지 이름
      context: ./product-service-path # Product Service의 Dockerfile이 있는 경로

# 2. 배포 설정: 적용할 쿠버네티스 매니페스트 파일 지정
deploy:
  kubectl:
    manifests:
      - k8s/eureka-deployment.yaml
      - k8s/order-deployment.yaml
      - k8s/product-deployment.yaml
      - k8s/ingress.yaml
    # - k8s/postgres-deployment.yaml, k8s/redis-deployment.yaml 등 나머지 파일 추가